* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: olive;
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar h1{
    color: white;
}

#navbar2 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar2 h1 {
    width: 150px;
}

#navbar2 .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}


.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: black;
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 24px;
}

#navbar-top #logo img {
    width: 150px;
}

#navbar-top .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, yellowgreen, orange);
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}

#navbar-three {
    background:orange;
}

#navbar-three .content-column2 {
    display: flex;
    justify-content: space-between;
}

#navbar-three a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}

#navbar-three .content-column2 {
    display: flex;
    justify-content: space-between;
}


