* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#page-layout{
    /*display:flex:;*/
    display: grid;
    grid-template-columns:150px 1fr 1fr ;
}

#column-one{
    background-color: white;
    /* width: 150px */
}

#column-two{
    background-color: white;
    /*flex:1; */
    

    
}
#column-three{
    background-color: white;
    /*flex:1; */
}
#column-two img{
    width: 100%;
}
#column-one img{
    width: 50%;
}
#buy{ 
    
    background-color:blue;
    padding: 9%;
    border-radius: 10%;
    width: 90px;
}
#cart{
    background-color:lightgrey;
    padding: 9%;
    border-radius: 10%;
    width: 90px;
}

#wish{
    background-color: bisque;
    padding: 9%;
    border-radius: 10%;
    width: 90px;
}
