* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#p1-c1{
    background-color:#FDC5F5 ;
    color: white;
    font-family: gill sans;
    text-align: center;
    padding: 24px;}
    #p2-c2{
        background-color:#F7AEF8 ;
    color: white;
font-family: gill sans;
text-align: center;
padding: 24px;}
