* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom,black,grey);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top,black,grey);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: darkslateblue;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: black;
}

#hero-1{
    background-image: url("../images/cats.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
    z-index:
        -1;
        

}
#hero-1 h1 {
    font-size: 120px;
    margin-bottom: 60px;
    color: white;

}
#hero-2 {
    background-image: url("../images/lucky.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
    z-index:
    -1;
    


}
#hero-2 h1 {
    font-size: 120px;
    margin-bottom: 60px;
    color: white;
}
#hero-3 img{
    background-image: url("../images/odd.jpg");
    height: 100vh;
    background-size: cover;
    background-position:center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index:
    -1;
    
}
#hero-3 h1{
    font-size: 120px;
    position: absolute;
    /* padding-left:100px; */
    left: 200px;
}
#hero-4 img{
    background-image: url("../images/odd.jpg");
    height: 100vh;
    background-size: cover;
    background-position:center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index:
    -1;
    
}
#hero-4 h1{
    font-size: 120px;
    position: absolute;
    /* padding-left:100px; */
    left: 200px;
}
